# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.cpp
*.so

# installed libraries
libs/

# temporary structure
build/
output/
results/
temporary/
temp/
.nfs*

# PyCharm
.idea/

# Jupyter notebook
.ipynb_checkpoints

# Unit test / coverage reports
htmlcov/
.tox/
pytest.*
.pytest_cache
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environment
env/
venv/


# Packaging
dist/
kx_pdf_tools.egg-info/

# MacOS and general nonsense
**/.DS_Store
**/tmp

# Local data
data

